{% extends 'base.html' %}

{% block content %}

<!-- Main Section -->
<main class="settingsPage profile my-md">
  <div class="container">
    <div class="layout">
      <div class="column column--1of3">
        <div class="card text-center">
          <div class="card__body dev">
            <a class="tag tag--pill tag--main settings__btn" href=""><i class="im im-edit"></i>
              Edit</a>
            <img class="avatar avatar--xl dev__avatar" src="{{profile.imageURL}}" />
            <h2 class="dev__name">{{profile.full_name}}</h2>
          </div>
        </div>
      </div>

      <div class="column column--2of3">

        <div class="settings">
          <h3 class="settings__title">Orders</h3>
          <a class="tag tag--pill tag--sub settings__btn tag--lg" href="{% url 'products:products' %}"><i
              class="im im-plus"></i> Add order</a>
        </div>

        <table class="settings__table">
          {% for order in orders %}
          <tr>
            <td class="settings__tableInfo">
              <h4>{{order.id}}</h4>
              <p>
                {{order.created}} - {{order.paid}}
              </p>
            </td>

          </tr>
          {% endfor %}
        </table>

      </div>
    </div>
  </div>
</main>

{% endblock %}