{% extends 'accounts-base.html' %}
{% load static %}

{% block content %}

<div class="auth">

    <div class="card">

        <div class="auth__header text-center">
            <a href="/">
                <img src="{% static 'images/icon.svg' %}" alt="icon" />
            </a>
            <h3>Reset Password</h3>
            <p>new password</p>
        </div>

        {% if validlink %}
            <form method="post" action="" >
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Change" />
            </form>
        {% else %}
            <p>this link is not valid anymore. <a href="{% url 'reset_password' %}">Please try again</a></p>
        {% endif %}

    </div>
</div>

{% endblock content %}