{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="auth">

        <div class="card">
    
            <div class="auth__header text-center">
                <a href="/">
                    <img src="{% static 'images/icon.svg' %}" alt="icon" />
                </a>
                <h3>Delete Product</h3>
                <p>Are you sure you wanna delete "{{object}}"?</p>
            </div>
    
            <form action="" method="POST" class="form auth__form">
                {% csrf_token %}
               
                <div class="auth__actions">
                    <input class="btn btn--sub btn--lg" type="submit" value="Log In" />
                </div>
            </form>
    
        </div>
    </div>
{% endblock content %}
