{% extends 'base.html' %}

{% block content %}
<main class="settingsPage profile my-md">
    <div class="container">
      <div class="layout">

        <div class="column column--1of3">
          <div class="card text-center">
            <div class="card__body dev">
              
              <img class="avatar avatar--xl dev__avatar" src="{{product.image_url}}" />
              <h2 class="dev__name">{{product.name}}</h2>
              <p class="dev__title">{{product.get_product_price}}</p>
              <form method="POST" action="{% url 'orders:cart_add' product.id %}">
                {% csrf_token %}
                {{form.as_p}}
                <input class="btn btn--sub btn--lg" type="submit" value="submit" />

              </form>
                
            </div>
          </div>
        </div>

        <div class="column column--2of3">
          
          <div class="devInfo">
            <h3 class="devInfo__title">Description</h3>
            <p class="devInfo__about">{{product.description|safe}}</p>
          </div>            
          
        </div>
        
      </div>
    </div>
</main>
{% endblock content %}